@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  box-sizing: content-box;
}
.section1 {
  width: 100vw;

/* height: 940px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-image: url(./source/bg_image1.png); */
  /* border-radius: 1018px; */
  background: rgba(255, 229, 7, 0.07);
  /* filter: blur(280px); */
}

.nav_bar {
  position: sticky;
  top: 0px;
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
.nav_title {
  display: flex;
  flex: 1;
  justify-content: center;
}
.nav_title > h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
  letter-spacing: -0.3px;
}
.D {
  background-color: #f94a3d;
  color: white;
  border-radius: 7px;
  padding-inline: 5px;
}
.Fdelivery {
  color: #f94a3d;
  margin-left: 8px;
}
.nav_options > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 10px;
}
.nav_options {
  flex: 2;
}

.nav_options > ul > li {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 10px;
  color: #212244;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_search {
  display: flex;
  flex: 2;
  justify-content: space-evenly;

  align-items: center;
}
.serach_bar > input {
  /* display: flex; */
  justify-content: space-between;
  border: none;
  fill: #fff;
  stroke-width: 1px;
  stroke: rgba(105, 105, 123, 0.1);
  filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.04));

  padding: 10px;
}
.bt1 {
  width: 109px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f94a3d;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  border: none;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border-radius: 1292px; */
  /* background: rgba(249, 74, 61, 0.07); */
}

.hero_content {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
  flex-direction: column;
  padding-inline: 30px;
}
.hero_content > h5 {
  color: var(--food-delivery-orange-color, #f94a3d);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 88.889% */
  width: 524px;
}
#eg1 {
  color: var(--food-delivery-orange-color, #f94a3d);
}
.hero_content > p {
  margin-top: 15px;
}
.hero_content > h1 {
  color: #212244;

  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 116.667% */
}
.hero_content > button {
  background-color: #f94a3d;
  border: none;
  color: #fff;
  padding-inline: 20px;
  width: 174px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 16px;
  margin-top: 25px;
}

.hero_scooter {
  margin-right: 100px;
  padding-inline: 50px;
}
.footer {
  width: 100vw;
/* height: 410px; */
  display: flex;
  justify-content: space-around;
  padding-inline: 100px;
  padding-top: 30px;
  background: var(
    --food-delivery-gradient-bg,
    linear-gradient(
      285deg,
      #fdf0f3 2.04%,
      rgba(255, 253, 242, 0.5) 50.97%,
      #fdeef3 100.85%
    )
  );
}
.col1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.col1_row1 {
  display: flex;
}
.col2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.col3 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.col4 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.col5 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section3 {
  width: 100vw;
  /* height:  4626px;; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 240px;
  
  background-color: #f8f8f8;
}
.employes {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-left: 240px;

  /* justify-content: space-evenly; */
}
.customers {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-right: 240px;
  /* justify-content: space-evenly; */
}
.emp1 {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.emp1_1 {
  padding-left: 25px;
}
.vertical_line {
  display: flex;
  flex: 1;
  border-left: 3px solid #f94a3d;
  height: 50px;
}
.text1 {
  padding-top: 30px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.96px;
}
.text1 > h3 > span {
  color: var(--food-delivery-orange-color, #f94a3d);

  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.96px;
}
.text2{
  padding-top: 30p;
}
.text2_2 {
  color: var(--food-text-color-2, #69697b);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
text3 {
  color: var(--food-delivery-p, #69697B);
  padding-top: 30px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 172.727% */
}
/* .section2{
  display: flex;
  width: 100vw;
  padding-top: 30px;
} */
.upper{

}
.lower{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.lower_1>h5{
  display: inline-block;
  padding-top: 50px;
  padding-left: 20px;
  justify-content: space-evenly;
}
.cards_section{
  display: flex;
  justify-content: space-around;
   align-items: center ;
  
}
.card{
  padding: 20px;
}